/* Font legend
Dela Gothic One - big title font
Young Serif - subtitle font
Onest - main site text font

Onest weights
300 - Light
400 - Regular
500 - Medium
600 - Semibold
700 - Bold */

body {
    background-color: whitesmoke;
    color: black;
}

p {
    font-family: 'Onest';
    font-weight: 400;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.darkmode {
    background-color: darkslategray;
    color: white;
}

.subtitle {
    font-family: 'Young Serif', 'Times New Roman', serif;
    width: 75px;
    margin-left: 20px;
    text-align: center;
}

.subtitle a {
    text-decoration: none;
    color: green;
}

.subtitle a:hover {
    text-decoration: none;
    color: mediumseagreen;
}

.subtitle a:visited {
    text-decoration: none;
    color: darkgreen;
}

.title {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2.75em;
    margin-bottom: 0px;
}

#logo-head {
    background-color: lightgray;
    background-image: linear-gradient(to right, lightblue, lightgreen);
    height: 30vh;
}

#title-card {
    background-color: lightgray;
    background-image: linear-gradient(to right, lightblue, lightgreen);
    height: 100vh;
}

#title-card img {
    width: 900px;
    height: 499px;
    object-fit: cover;
}